

.headerSection {
    background-color: navy;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px 40px;
}

.header {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.addButton {
    padding: 8px 16px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.addButton:hover {
    background-color: #0056b3;
}

.allinfo {
    margin: 20px;
    max-height: 100%;      
    overflow-x: auto;       
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.tabledata {
    width: 100%;
    border-collapse: collapse;
    min-width: 1000px; 
    background-color: #fff;
}

.tableHead th {
    position: sticky;
    top: 0;
    background-color: navy;
    color: white;
    z-index: 2;
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #0056b3;
}
.tableCell1 {
    padding: 10px;
    width: 35px;
    text-align: center;
    word-break: break-word;  /* wrap long words */
    white-space: normal;    /* allow multiple lines */ 
    border-bottom: 1px solid #eee;
}
.tableCell2 {
    padding: 10px;
    width: 70px;
    text-align: center;
    word-break: break-word;  /* wrap long words */
    white-space: normal;    /* allow multiple lines */ 
    border-bottom: 1px solid #eee;
}
.tableCell3 {
    padding: 10px;
    width: 150px;
    text-align: center;
    word-break: break-word;  /* wrap long words */
    white-space: normal;    /* allow multiple lines */ 
    border-bottom: 1px solid #eee;
}
.tableCell4 {
    padding: 10px;
    width: 180px;
    text-align: center;
    word-break: break-word;  /* wrap long words */
    white-space: normal;    /* allow multiple lines */ 
    border-bottom: 1px solid #eee;
}
.tableCell5 {
    padding: 10px;
    width: 90px;
    text-align: center;
    word-break: break-word;  /* wrap long words */
    white-space: normal;    /* allow multiple lines */ 
    border-bottom: 1px solid #eee;
}
.tableCell6 {
    padding: 10px;
    width: 50px;
    text-align: center;
    word-break: break-word;  /* wrap long words */
    white-space: normal;    /* allow multiple lines */ 
    border-bottom: 1px solid #eee;
}
.tableCell7 {
    padding: 10px;
    width: 220px;
    text-align: center;
    word-break: break-word;  /* wrap long words */
    white-space: normal;    /* allow multiple lines */ 
    border-bottom: 1px solid #eee;
}
.tableCell8 {
    padding: 10px;
    width: 100px;
    text-align: center;
    word-break: break-word;  /* wrap long words */
    white-space: normal;    /* allow multiple lines */ 
    border-bottom: 1px solid #eee;
}
.tableCell9 {
    padding: 10px;
    width: 100px;
    text-align: center;
    word-break: break-word;  /* wrap long words */
    white-space: normal;    /* allow multiple lines */ 
    border-bottom: 1px solid #eee;
}


.tableRow:nth-child(even) {
    background-color: #f9f9f9;
}
.tableRow:hover {
    background-color: #e0f0ff;
}

.actionButton {
    margin-right: 8px;
    padding: 10px ;
    background-color: navy;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
}

.actionButton:hover {
    background-color: #0056b3;
}
