body {
    background-color: rgb(226, 231, 237);
}
.headerSection1{
    background-color: navy;
    display: flex;
    justify-content: space-between;
    padding: 4px 30px;
    align-items: center;
}

.headername {
    color: white;
    font-size: 32px;
    font-weight: bold;
    padding: 10px;
}

.cardsection {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;  
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    
}

.cards {
    flex: 0 1 calc(25% - 20px); 
    background-color: rgb(239, 239, 243);
    color: black;
    text-align: center;
    padding: 10px;
    /* width: 50px; */
    border-radius: 6px;
    border: 1px solid black;
    box-shadow: rgba(23, 23, 23, 0.806) 0px 3px 8px;
    box-sizing: border-box;
    width: 100px;
    text-align: center;
    word-break: break-word;  /* wrap long words */
    /* overflow-x: auto; */
    white-space: normal; 
    height: 250px; 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.projectname {
    font-size: 22px;
    font-weight: bold;
    color: black;
    margin: 10px 0px;
    background-color: rgb(231, 231, 242);
    color: rgb(0, 0, 0);
}
.infosectionproject{
    height: 200px;
    overflow: auto;
}

.assignedEmployeeButton {
    background-color: navy;
    /* margin-top: auto;  */
    /* display: flex;
    justify-content: baseline; */
    color: white;
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
    width: 80%;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
}
.buttonsection{
    display: flex;
    justify-content: baseline;
}
.headerActionButtons{
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}
.inputSectionHeader{
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
